<!-- Card pour présenter les attributrs d'une personne -->

<mat-card appearance="outlined">
  <mat-card-header>
    <div class="avatarIcon" mat-card-avatar style="background-image: url('RM_Logo.png');"></div>
    <mat-card-title>{{ firstName }} {{ lastName }}</mat-card-title>
    @if (subTitle) {
    <mat-card-subtitle>{{ subTitle }}</mat-card-subtitle>
    }
  </mat-card-header>

  <mat-card-content>
    <div class="infoList">
      <!-- Age -->
      @if (age) {
      <div class="info" matTooltip="Age">
        <mat-icon>cake</mat-icon>
        {{ age }} ans
      </div>
      }

      <!-- Job -->
      <div class="info" matTooltip="Profession">
        <mat-icon>work_outline</mat-icon>
        Développeur Informatique
      </div>

      <!-- Localisation -->
      <div class="info map" (click)="goToMaps()" matTooltip="Où c'est ?">
        <mat-icon>room</mat-icon>
        Brive-La-Gaillarde
      </div>

      <!-- Loisir -->
       <div class="info" matTooltip="loisirs">
        <mat-icon>attractions</mat-icon>
        Musique, Jeux-vidéo, Voyages, ...
       </div>
    </div>

    <!-- Description -->
    <div class="descContainer"></div>
  </mat-card-content>
</mat-card>
