.avatarIcon {
    background-image: url('/RM_Logo.png');
    background-size: cover;
}

.infoList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .info {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        mat-icon{
            margin-right: 10px;
        }

        &.map {
            cursor: pointer;
        }
    }

}