// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'app/styles_theme-colors.scss' as my-theme;

html {
    color-scheme: light dark;
    @include mat.theme((color: (primary: my-theme.$primary-palette,
                tertiary: my-theme.$tertiary-palette,
                theme-type: dark,
            ),
            typography: Roboto,
            density: 0));
}

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

:host {
    background: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
    border: 1px solid var(--mat-sys-outline-variant);
    font: var(--mat-sys-body-large);
}

// Attribut Secondary
:root [color="secondary"] {
    @include mat.button-overrides((filled-container-color: var(--mat-sys-secondary)));
}

//Attribut Tertiary
:root [color="tertiary"] {
    @include mat.button-overrides((filled-container-color: var(--mat-sys-tertiary)));
}