<div #mainContainer class="mainContainer" [innerHTML]="circlesHtml"></div>

<!-- MARK: Experiences Pros -->
<div class="experiencesContainer">
  <div class="step">
    <h2>Développeur FullStack</h2>
    <h3>Wancom (19) • 2021 &rarr; Actuel</h3>
    <p>
      Gestion de développement de fonctionnalités de logiciels <br />
      Développement d'application sur écrans d'affichage professionnel <br />
      Développement Web FullStack sur CRM/CMS (Angular / NodeJs / C#) <br />
      Support, Monitoring et Gestion dans le déploiement d'écrans professionnels
      <br />
    </p>
  </div>

  <div class="step">
    <h2>Projet professionnel "À Ma Table"</h2>
    <h3>Master 1 MIAGE (31) • 2021</h3>
    <p>
      Projet professionnel mené dans le cadre de l'AL3C, application web Projet
      de groupe créé et mené jusqu'à la production d'une preuve de concept.
      Application développée en React Native
      <br />
    </p>
  </div>

  <div class="step">
    <h2>Développeur Web - Stage fin Licence 3</h2>
    <h3>TopSolid (31) • 2020</h3>
    <p>
      Amélioration d'une plateforme WEB responsive. Maintien et évolution d'un
      site de support et d'information client. Site Web HTML, PHP, JavaScript
      <br />
    </p>
  </div>
  <div class="step">
    <h2>Développeur Web - Stage Fin Dut + CDD</h2>
    <h3>SILAB (19) • 2019</h3>
    <p>
      Mise en place de nouveaux Processus GED. Réalisation de formulaires dans
      une application WEB de Gestion Electronique de Documents.
      <br />
    </p>
  </div>
</div>
