<!-- Page d'accueil / landing page -->
<!-- Contiendra tout avec bcp de redirections -->

<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>OH yeah</mat-card-title>
    </mat-card-header>
  <mat-card-content>
    <div class="test">
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="tertiary">Secondary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warning"><mat-icon>warning</mat-icon>Warning</button>
    </div>
  </mat-card-content>
</mat-card>
