<!-- Page d'accueil / landing page -->
<!-- Contiendra tout avec bcp de redirections -->

<!-- TODO: Faire Jolie page d'accueil -->

<div class="wavesDiv">
  <h1 class="wavesText">Robin MARTRES</h1>
  <app-react-waves></app-react-waves>
</div>

<!-- MARK: Welcome -->
<div class="whoAmIContainer">
  <h3><mat-icon>home</mat-icon>Bienvenue !</h3>

  <div class="detail">
    <!-- Image de moi -->
    <div class="imgContainer">
      <img id="welcomPic" src="doot_meme_squared.png" alt="Ma sale gueule" />
    </div>

    <div class="txtContainer">
      <p class="welcomTxt">
        Bonjour et bienvenue sur mon site,<br />
        Je suis Robin MARTRES, Développeur Informatique 💻​
        <br />
        <br />
        Ce site faisant office de 1er projet personnel va faire office de
        vitrine afin de présenter ce que je fait et de grand bac à sable pour
        contenir mes bricolages de code à venir

        <br />
        <br />

        En espérant que ce que vous verrez vous intérressera ! ✨
      </p>
    </div>
  </div>
</div>

<!-- MARK: Who Am I -->
<div class="whoAmIContainer">
  <h3><mat-icon>emoji_people</mat-icon>Qui suis-je ?</h3>

  <div class="detail reverseMobile">
    <div class="txtContainer">
      <p class="welcomTxt">
        Salut c'est moi,
        <br />
        <br />

        <app-id-card
          [firstName]="'Robin'"
          [lastName]="'MARTRES'"
          [subTitle]="'Auteur de ce super site'"
        ></app-id-card>

        <br />
        <br />

        Vous pouvez voir mon CV en détail juste ci-dessous !
      </p>
      <a id="seeCVBtn" mat-fab extended href="/me">
        <mat-icon>description</mat-icon>
        Voir mon CV
      </a>
    </div>
    <!-- Image de moi -->
    <div class="imgContainer">
      <img id="myIdPic" src="jumba_pic.png" alt="Ma sale gueule" />
    </div>
  </div>
</div>

<!-- Liste des trucs du site -->

<!-- Pied de page de l'accueuil -->
<footer>
  <div class="homeFooter">
    <!-- Lien vers mes réseaux -->
    <div class="socials">
      @for (social of socials; track $index) {
      <div
        class="socialContainer"
        (click)="redirectTo(social.redirectLink)"
        matTooltip="Ouvrir dans un nouvel onglet"
      >
        <mat-icon [svgIcon]="social.icon"></mat-icon>
        <span>{{ social.name }}</span>
      </div>
      }
    </div>
    <!-- Plan du site -->
    <div class="routesContainer">
      <a href="/me">Mon CV</a>
      <a href="/about">A propos</a>
    </div>
  </div>

  <!-- Année et mon nom -->
  <p class="credits">2025 - Robin MARTRES</p>
</footer>
